
#titulo {
    clear: none;
    position: static;
    text-align: center;
}
#datos {
    position: relative;
    float: left;
    background-color: beige;
    width: 320px;
    height: 180px;
    padding: 15px 0.5cm;
    margin-right: 10px;
    margin-top: 10px;
}
.boton {
    background-color: khaki;
    height: 0.6cm;
}
#Izquierdo {
    position: fixed;
    left: 376px;
    top: 360px; /**/
    background-color: beige;
    z-index: -100;
    width: 300px;
    height: 0px; /*250x250*/
    padding: 0px 0cm;
    border-radius: 25px;
    box-shadow: 2px 2px 5px #999;
    animation-duration: 1s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        background-color: yellow;
      border-radius: 1000px;

    }
  
    to {
      background-color: beige;
      border-radius: 25px;

    }
  }

#Central {
    position: fixed;
    left: 680px;
    top: 360px; /**/
    background-color: beige;
    z-index: -100;
    width: 300px;
    height: 0px; /*250x250*/
    padding: 0px 0cm;
    border-radius: 25px;
    box-shadow: 2px 2px 5px #999;
    animation-duration: 1s;
    animation-name: slideincen;

}

@keyframes slideincen {
    from {

      border-radius: 1000px;
        opacity: 0;
    }
  
    to {

        border-radius: 25px;
        opacity: 1;
    }
  }

#Derecho {
    position: fixed;
    left: 984px;
    top: 360px; /**/
    background-color: beige;
    z-index: -100;
    width: 300px;
    height: 0px; /*250x250*/
    padding: 0px 0cm;
    border-radius: 25px;
    box-shadow: 2px 2px 5px #999;
    animation-duration: 1s;
    animation-name: slideinder;
}

@keyframes slideinder {
    from {

      border-radius: 1000px;
        opacity: 0;
    }
  
    to {

        border-radius: 25px;
        opacity: 1;
    }
  }

.pila {
    position: relative;
    text-align: center;
}